<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="developer" class="org.example.Developer" autowire="byType">
        <!--<property name="age" value="12"> </property> --><!--this is for just variable by using getter setter-->
        <!--<constructor-arg value="15"/>--> <!--this is for just variable using constructoer-->
        <!--<property name="intellij" ref="intel"/> --><!--inject laptop using setters-->
        <!--<constructor-arg ref="intel" />-->
        <!--this section is for autowiring-->
        <!--<property name="myide" ref="intel"/>-->
    </bean>

    <bean id="myide" class="org.example.vscode" primary="true" >
    </bean>
    <bean id="myide1" class="org.example.Intellij">
    </bean>

</beans>